body{
    background-color : #000000;
}
#clock{
    font-size: 400%;
    text-align: center;
}
#date{
    font-size: 200%;
    text-align: center;
}
.text{
    color: #ffffff;
    font-family: FreeSans,'Times New Roman', Times, serif;
}
